#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  background-color: #fdfdfd;
  border-radius: 12px;
 
}

.App p {
  cursor: pointer;
  padding: 10px;
  margin: 8px 0;
  background-color: #98d2fb;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.App p:hover {
  background-color: #bbdefb;
}

.App h2 {
  margin-top: 1.5rem;
  color: #1565c0;
}

.App ul {
  list-style-type: none;
  padding-left: 0;
}

.App li {
  padding: 4px 0;
  color: black;
}
